{%extends "bookshopapp/base.html"%}
{%block title%}Exhibition{%endblock%}
{%block content%}
<div class="pageTitle">{{exhibition.name}}</div>
<div class="sectionTitle">Description</div>
<div class="information">{{exhibition.description}}</div>
<div class="halls">
    {%for i in exhibition.hall.all%}
        <div class="sectionTitle">{{i}} hall</div>
        {%for j in i.exponates.all%}
            <div class="exponateBlock">
                <img class="photo" src="{{j.photo.url}}">
                <div class="information">
                    <div>{{j.name}}</div>
                    <div>Author: {{j.author}}</div>
                </div>
            </div>
        {%endfor%}
    {%endfor%}
</div>
{%endblock%}