{%extends "bookshopapp/base.html"%}
{%block title%}Profile{%endblock%}
{%block content%}
<h1>Profile of {{profile.user.username}}</h1>
<img class = "profilePhoto" src="{{profile.photo.url}}">
Email: {{profile.user.email}}
Phone number: {{profile.phone_number}}
<h2>Your orders</h2>
<section>
    {%for i in orders%}
        <div class="exponateBlock">
            <img class="cover" src="{{i.cover.url}}">
            <ul class="information">
                <li>Item: {{i.product.name}}</li>
                <li>Date:<date> {{i.order_date}}</date></li>
                <li>Delivery_date: {{i.deliver_date}}</li>
                <li>Type: {{i.product.type}}</li>
                <li>Is send: {{i.is_send}}</li>
                <li>Is recieved: {{i.is_recieved}}</li>
                <li>Adress: {{i.city}},{{i.street}},{{i.house}},{{i.appartments}}</li>
            </ul>
        </div>
    {%endfor%}
</section>
{%endblock%}