{%extends "bookshopapp/base.html"%}
{%block title%}Sign up{%endblock%}
{%block content%}
<form method="post">
    {%csrf_token%}
    <div class="formColumn">
        First name:<br>
        {{form.first_name}}
        Last name:<br>
        {{form.last_name}}
        Phone number:<br>
        {{form.phone_number}}
        Email:<br>
        {{form.email}}
        Password:<br>
        {{form.password}}
        Confirm password:<br>
        {{form.password_confirmation}}
        <div>
            {%for error in errors%}
                {{error}}
            {%endfor%}
        </div>
        <button class="button" type="submit">confirm</button>
        <p>Already have an account? Log in
            <a class="markedLink" href="/login">here</a>
        </p>
    </div>
</form>
{%endblock%}