{%extends "bookshopapp/base.html"%}
{%block title%}Profile{%endblock%}
{%block content%}
<h1>Profile of {{profile.user.username}}</h1>
<img class = "profilePhoto" src="{{cat.url}}">
Email: {{profile.user.email}}
Phone number: {{profile.phone_number}}
Post: {{profile.post}}
<h2>Orders</h2>
<section>
    {%for i in exponates%}
        <div class="exponateBlock">
            <img class="photo" src="{{i.photo.url}}">
            <ul class="information">
                <li>{{i.name}}</li>
                <li>Author: {{i.author}}</li>
                <li>Description: {{i.description}}</li>
                <li>Date: {{i.receipt_date}}</li>
                <li>Hall: {{i.hall}}</li>
            </ul>
        </div>
    {%endfor%}
</section>
{%endblock%}