{% extends 'bookshopapp/base.html' %}
{% block title %}vacancy{% endblock %}
{% block content %}
        <div style="display: flex;flex-direction: row;">
            <div class = "vacancyBlock">
                <h2 style="color:#f5f5f5">SMM-manager</h2>
                <h3 style="color:#f5f5f5">Salary: 1000 doublons</h3>
                <h3 style="color:#f5f5f5">Education: Master of Economic Sciences</h3>
            </div>
            <div class = "vacancyBlock">
                <h2 style="color:#f5f5f5">Sales-manager</h2>
                <h3 style="color:#f5f5f5">Salary: 1250 doublons</h3>
                <h3 style="color:#f5f5f5">Education: Master of Economic Sciences</h3>
            </div>
            <div class = "vacancyBlock">
                <h2 style="color:#f5f5f5">Deliveryman</h2>
                <h3 style="color:#f5f5f5">Salary: 600 doublons</h3>
                <h3 style="color:#f5f5f5">Education: not necessary</h3>
            </div>
        </div>
        <div style="display: flex;flex-direction: row;">
            <div class = "vacancyBlock">
                <h2 style="color:#f5f5f5">Copywrighter</h2>
                <h3 style="color:#f5f5f5">Salary: 600 doublons</h3>
                <h3 style="color:#f5f5f5">Education: not necessary</h3>
            </div>
            <div class = "vacancyBlock">
                <h2 style="color:#f5f5f5">Cleaner</h2>
                <h3 style="color:#f5f5f5">Salary: 400 doublons</h3>
                <h3 style="color:#f5f5f5">Education: not necessary</h3>
            </div>
            <div class = "vacancyBlock">
                <h2 style="color:#f5f5f5">Trainee manager</h2>
                <h3 style="color:#f5f5f5">Salary: - doublons</h3>
                <h3 style="color:#f5f5f5">Education: not necessary</h3>
            </div>
        </div>
{% endblock %}