{% extends 'bookshopapp/base.html' %}
{% block title %}vacancy{% endblock %}
{% block content %}
    <table style="width: 600px; font-size: 20pt; display: flex; text-align: center; background-color: azure;">
        <tr>
           <th>Name</th>
           <th>Information</th> 
        </tr>
        <tr>
            <td>SMM-manager</td>
            <td>Salary: 1000 doublons<br>Education: Master of Economic Sciences</td>
            </tr>
        <tr>
            <td>Sales-manager</td>
            <td>Salary: 1250 doublons<br>Education: Master of Economic Sciences</td>
        </tr>
        <tr>
            <td>Deliveryman</td>
            <td>Salary: 600 doublons<br>Education: not necessary</td>
    
        </tr>
    </table>
{% endblock %}