header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    height: 80px;
    background-color: rgb(236, 133, 92);
}
.headerBlock{
    width:200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.profilePhoto{
    height: 400px;
    width: 600px;
    z-index: 1;
}
.productDescription{
    width: 720px;
}
.productPhoto{
    height: 200px;
    width: 150px;
    border: solid 2px;
    border-color: brown;
}
.productBlock{
    
    font-size: 10pt;
    margin:20px 0px;
    display: flex;
    flex-direction: row;
}
.pageFiltered{
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
    width: 700px; 
}
.certificate{
    width: 800px;
    height: 1130px;
    border: 10px solid;
    background-image: url('fon.jpg');
    background-repeat: no-repeat;
    background-size: 800px 1130px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-image: linear-gradient(rgba(34,193,195, 1) 0%, rgba(253,187,45, 1) 100%) 1;
    
}
.orderBlock{
    margin: 15px 0px;
}
body{
    padding: 0;
    margin: 0;
}
.exhibitionLink{
    background-color: blanchedalmond;
    color: black;
    padding: 20px;
    width: 300px;
    display: flex;
    margin: 10px;
    position: relative;
    font-size: 15pt;
}
.exponateBlock{
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}
.information{
    display: flex;
    margin: 0px 10px;
    flex-direction: column;
    width: 700px;
}
.titleLink{
    font-size: 18pt;
    font-weight: bold;
    text-decoration:underline;
    cursor: pointer;
    color: black;
}
.halls{
    margin: 30px 0px;
}
.photo{
    height: 200px;
}
.excursionBlock{
    margin: 10px 0px;
}
h1{
    font-size: 25pt;
    font-weight: bolder;
    margin: 50px 0px;
    display: flex;
}
h2{
    font-size: 18pt;
    font-weight: bold;
    text-transform: lowercase;
}
h3{
    font-size: 20pt;
    font-family: 'DIN Pro Regular';
    color:#292929;  
    text-decoration: none;
}

.link{
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.markedLink{
    text-decoration:underline;
    cursor: pointer;
    color: brown;
}
.formColumn{
    display:flex;
    flex-direction: column;
    margin:50px;
    width: 200px;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7b1b1;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1280px;
    min-height: 720px;
}
table{
    border: solid black;
    border-collapse: collapse;
    background-color: azure;
    empty-cells: show;
    vertical-align: middle;
    text-align: center;
}
td:empty{
    border: solid black;
    background-color: #ce2e2e;
    height: 50px;
}
td{
    border: solid black;
}
tr{
    border: solid black;
}
#id_phone_number,#id_password,#id_first_name,#id_last_name,#id_email,#id_password_confirmation{
    border-radius: 10px;
    height: 30px;
    background-color: rgb(255, 237, 224);
}
.over{
    overflow: hidden;
    width:730px;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
}
button{
    width:fit-content;
    padding: 0px 10px;
    margin: 10px 0px;
    font-size: 20pt;
    background-color: rgb(255, 246, 217);
    cursor: pointer;
}
.grid-container{
    display: grid;
    flex-direction: column;
    gap:20px;
}
.checkboxBlock{
    display: flex;
    flex-direction: row;
}
.formTitle{
    margin:10px 0px;
    font-weight: bold;
}
.footerContent{
    width:1280px;
    margin:30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerBlock{
    width:400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.footerLogo{
    margin:0px 20px;
    border-radius: 40px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(10, 12, 14, 0.808);
}
.footerLink{
    color:black;
    margin:40px 10px;
    text-decoration: underline;
}
footer{
    width: 100%;
    height: 100px;
    background-color:rgb(236, 133, 92);
    display: flex;
    justify-content: center;
}
.video{
    flex-direction: row;
    align-items: center;
    display: flex;
    justify-self: center;
}
dfn {
    font-family:'DIN Pro Regular', sans-serif;
    font-kerning: normal;
}
article{
    display: flex;
    flex-direction: column;
    font-size: 20pt;
}
input[type='checkbox'] {
    margin: 5px;
}
.footerLink:link {
    color: red;
}
.footerLink:visited {
    color: black;
}
.footerLink:active {
    color:green
}
.footerLink:hover{
    color:yellow
}
td:first-child {
    color: brown
}
input{
    background-color: white;
}
input:required{
    background-color: green;
}
input:disabled{
    background-color: red;
}
input:out-of-range{
    background-color: black;
    color:red;
}
q:lang(ru) {
    quotes: "\00AB" "\00BB";
}
q:lang(en) {
    quotes: "\201C" "\201D";
}
article p::first-letter{
    color: red;
}
ul{
    list-style-type: "🌚";
}
::selection{
    color: brown;
    background-color: lightblue;
}
.css {
    width:auto;
}
@media screen and (width > 1000px){
    p.cssBlock{
        background-color: blue;
    }
}

.footerLogo:hover{
    animation: anime 1s ease 0s 1 alternate forwards;
}

@keyframes anime {
    0%,
    25%{
        transform: rotate(90deg) ;
    }
    50%{
        transform: rotate(180deg) ;
    }
    75%{
        transform: rotate(270deg) ;
    }
    100%{
        transform: rotate(360deg) ;
    }
}
.articleColumns{
    columns: 280px 2;
    font-size: 12pt;
    word-wrap: normal;
}
p{
    text-indent: 50px;
    line-height: 40px;
    font-variant: small-caps;
    word-wrap: normal;
    letter-spacing: normal;
    font-family:'DIN Pro Regular', sans-serif;
}
.gradientBlock {
    z-index: 3;
    background: rgb(34,193,195);
    background: linear-gradient(rgba(34,193,195, 1) 0%, rgba(253,187,45, 1) 100%);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    bottom: 400px;
    left: 100px;
    position: relative;
    
}
.questionBlock{
    font-size: 20pt;
    font-family: 'DIN Pro Bold';
    background-color: #424242;
    color: #f5f5f5;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    margin-top:20px;
}
.answerBlock{
    font-size: 18pt;
    font-family: 'DIN Pro Italic';
    background-color: #ee724c;     
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.vacancyBlock{
    font-size: 18pt;
    width: 350px;
    font-family: 'DIN Pro Italic';
    background-color: #c73f15;     
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    float:inherit;
    margin: 0px 10px 10px 0px;
}
p.cssBlock::before{
    content: "before*";
}

p.cssBlock::after{
    content: "*after";
}